PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=forte_media
JWT_SECRET=supersecretjwt
USE_MOCK=true
META_API_KEY=
META_APP_ID=
META_APP_SECRET=
